---
layout: default_helena_10B_LINK
---

<!-- 2 juli 11:49 -->

{% comment %}
<!-- ======================================================================= -->

<!-- ======================================================================= -->
{% endcomment %}

<!-- ===================< NAVBAR >========================================== -->
<div class="wrapper_navbar_lavinia_01_01">
  <div id="id_navbar_lavinia_0101">
    {% include navbar_lavinia_0101.html %}    
  </div>
</div>
<script>
  /*
  let pagina_nummer = 1;
  let json_config_0101 = json_config_navbar_01; 
  let json_navbar_0101 = loc_json_navbar_lavinia_01;
  let snip_links_0101 = snip_navbar_lavinia_01B_links(pagina_nummer, json_navbar_0101);
  let render_navbar_0101 = tpl_navbar_lavinia_01B(json_config_0101, json_navbar_0101, snip_links_0101);
  render_template_02("id_navbar_lavinia_0101", render_navbar_0101, "navbar_html");
  */
</script>


  <!-- =======< TEMPLATE >==================================================== -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">    
      <div class="wrapper_jumbotron_athena_20_defa_01">
        <div id="id_jumbotron_athena_2001">
    <div class="jumbotron jumbotron_athena_20B">
      <h1>Simpel gegevens wijzigen!</h1>
        <p>De inhoud van een deel van de website kan simpel gewijzigd worden. Dit kan met de service Prose.<br>Gegevens worden daar gewijzigd en deze website toont de wijzigingen.<br>U krijgt uitleg en een handleiding.</p>
        
          <p>
            <a class="btn btn-primary btn-lg" target="_blank" href="https://prose.io/#Quasimobi/quasimobi.github.io" role="button">Prose</a>
          </p>
                
    </div>          
        </div>
      </div>
    </div>
  </div>    
</div>
<!-- ==================< FOOTER >=========================================== -->
{% include loc_footer_11G.html %}


{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}



