{% comment %}
<!-- ======================================================================= -->
<!--
  Naam: default_helena_10B_var.html
  Variabelen die ik in de Layout default_helena_10B.html gebruik.
  Kunnen ook ergens anders gebruikt worden.
-->
<!-- ======================================================================= -->
{% endcomment %}

<!-- Vars uit data.glint.configuratie -->
{% assign loc_site_testen           = site.data.glint.configuratie.glint_site_testen %}
{% assign loc_url_rel               = site.data.glint.configuratie.glint_url_rel %}
{% assign loc_url_abs               = site.data.glint.configuratie.glint_url_abs %}
{% assign loc_meta_robots           = site.data.glint.configuratie.glint_meta_robots %}
{% assign loc_merk_tekst            = site.data.glint.configuratie.glint_merk_tekst %}
{% assign loc_merk_link             = site.data.glint.configuratie.glint_merk_link %}
{% assign loc_path_klant_media      = site.data.glint.configuratie.glint_path_klant_media %}
{% assign loc_path_klant_media_post = site.data.glint.configuratie.glint_path_klant_media_post %}
{% assign loc_path_tech_media       = site.data.glint.configuratie.glint_path_tech_media %}
{% assign loc_path_icons            = site.data.glint.configuratie.glint_path_icons %}
{% assign loc_path_json             = site.data.glint.configuratie.glint_path_json %}
{% assign loc_path_css              = site.data.glint.configuratie.glint_path_css %}
{% assign loc_path_js_glint         = site.data.glint.configuratie.glint_path_js_glint %}
{% assign loc_path_js_vendor        = site.data.glint.configuratie.glint_path_js_vendor %}

{% assign loc_github_upload_yes     = site.data.glint.configuratie.glint_github_upload_yes %}
{% assign loc_github_root           = site.data.glint.configuratie.glint_github_root %}
{% assign loc_github_url_abs        = site.data.glint.configuratie.glint_github_url_abs %}
{% assign loc_github_path_json      = site.data.glint.configuratie.glint_github_path_json %}
{% assign loc_github_path_media     = site.data.glint.configuratie.glint_github_path_media %}

<!-- Vars uit data.glint.centobytes -->
{% assign loc_company_name_glint    = site.data.glint.centobytes.company_name %}
{% assign loc_meta_keywords_glint   = site.data.glint.centobytes.meta_keywords %}

<!-- Vars uit data.basis.basis -->
{% assign loc_website_title         = site.data.bedrijf.basis.basis.website_title %}
{% assign loc_company_name_bedrijf  = site.data.bedrijf.basis.basis.company_name %}
{% assign loc_meta_description      = site.data.bedrijf.basis.basis.meta_description %}
{% assign loc_meta_keywords_bedrijf = site.data.bedrijf.basis.basis.meta_keywords %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
