{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_vendor }}template-web.js"></script>
<script>
   template.defaults.escape= false;
</script>

{% if loc_site_testen %}
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}defa_data_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}athena_data_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}lavinia_data_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_data_quasimobi.js"></script>

  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}defa_biblio_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}athena_biblio_bs3.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}athena_biblio_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}lavinia_biblio_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_biblio_quasimobi.js"></script>
{% else %}
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}defa_data_bs4.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_data_quasimobi.js"></script>
  <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_biblio_quasimobi_es5.js"></script>
{% endif %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

