{% comment %}
<!-- ======================================================================= -->
<!--
  Locale Foot omdat de aangeroepen Javascript varieert.
  Gebruik bij layout default_helena_02.html 
-->
<!-- ======================================================================= -->
{% endcomment %}

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_vendor }}jquery.min_bs3_LINK.js"></script>
<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_vendor }}bootstrap.min_bs3_LINK.js"></script>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
