// -------------------------------------------------------------------------- ]]
// Afgeleid van https://kuler.adobe.com/durenceau-1-color-theme-3645263/
// Gebruikt bij Centobytes 02, Onepage_07
// Tweede kleur gewijzigd.
$color-kuler-first:                              #F16663;
$color-kuler-second:                             #FA6025; //#F48D6C;
$color-kuler-third:                              #F2E07B;
$color-kuler-fourth:                             #8ABE9B;
$color-kuler-fifth:                              #4A6D8B;
// -------------------------------------------------------------------------- ]]
// Algemene factor om lichter of donkerder te maken.
// Algemene factor om de voorgrond lichter of donkerder te maken.
// Geef de default voor de Tekst in de Helena-blocks, Helena-buttons en Helena-Icons.
$color-kuler-text-opacity:                       1.0; // Lock Centobytes_02
$color-kuler-bg-opacity:                         0.9; // Lock Centobytes_02
$color-kuler-first-lighten:                      10%; // Lock Centobytes_02
$color-kuler-first-darken:                       30%;
$color-kuler-second-lighten:                     10%; // Lock Centobytes_02
$color-kuler-second-darken:                      30%;
$color-kuler-third-lighten:                      6%;  // Lock Centobytes_02
$color-kuler-third-darken:                       30%;
$color-kuler-fourth-lighten:                     10%; // Lock Centobytes_02
$color-kuler-fourth-darken:                      30%;
$color-kuler-fifth-lighten:                      6%;  // Lock Centobytes_02
$color-kuler-fifth-darken:                       30%;
// -------------------------------------------------------------------------- ]]
// -------------------------------------------------------------------------- ]]


