{% comment %}
<!-- ======================================================================= -->
<!--
  Naam: default_helena_10B_git.html
  Een kale versie voor projecten op Github.
-->
<!-- ======================================================================= -->
{% endcomment %}

<!-- Voeg variabelen uit de data-directory toe -->
{% include default_helena_10B_var_LINK.html %}

<!DOCTYPE html>
<html lang='nl'>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.website_title %}{{ page.website_title }}{% else %}{{ loc_website_title }}{% endif %}</title>
    <meta name="author" content="content: {{ loc_company_name_bedrijf }}}">


    {% if loc_site_testen %}
      {% comment %}<!-- Speciale Bootstrap voor dit project -->{% endcomment %}
      <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_strap.css">
      {% comment %}<!-- Alle benodigde CSS van de onderdelen. -->{% endcomment %}
      <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_blok.css">
      {% comment %}<!-- Eventuele aanvulling op de standaardOnderdelen. -->{% endcomment %}
      <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_detail.css">
      {% comment %}<!-- Voeg FontAwesome toe. -->{% endcomment %}
      <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}font-awesome.min.css">
    {% else %}
      {% comment %}<!-- Bovenstaande CSS-en samengevoegd. -->{% endcomment %}
      <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_deploy.css">
    {% endif %}
 

    {% include loc_head_defa_10.html %}

  </head>

  <body>

    <!-- =================< START YIELD >======================================= -->
    {{ content }}
    <!-- =================< EINDE YIELD >======================================= -->

    {% include loc_foot_defa_10.html %}

  </body>

</html>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
